.content__container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100vw;
}
.content {
  place-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template: auto / 1fr 1fr 1fr;
}
@media (max-width: 1300px) {
}
@media (max-width: 660px) {
  .content {
    width: 100vw;
    grid-gap: 0;
  }
}
