.post-container {
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.post-image {
  width: 300px;
  height: 300px;
  display: block;
  background-position: center;
  background-size: cover;
  transition: all 400ms;
}
.post-container:hover {
  cursor: pointer;
}
.post-container:hover .post-overlay {
  opacity: 1;
  transition: all 400ms;
}
.post-container:hover .post-image {
  filter: brightness(20%);
  transform: scale(1.2);
  transition: all 400ms;
}
.post-overlay {
  position: absolute;
  width: 100%;
  top: 150px;
  display: flex;
  color: white;
  justify-content: center;
  opacity: 0;
  transition: all 400ms;
}

.post-overlay span:first-child {
  margin-right: 15px;
}

.post-overlay span {
  display: flex;
  align-items: center;
}
.post-overlay span svg {
  margin-right: 10px;
}
