.Stories {
  display: flex;
  background: #fff;
  overflow-x: scroll;
  margin-bottom: 1rem;
  padding: 1rem 0.7rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: relative;
}
.Stories::-webkit-scrollbar {
  display: none;
}

.Scroll-arrow {
  position: absolute;
  padding: 0rem 0.2rem 1rem;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.Scroll-arrow:hover {
  background-color: #f1f6f9;
}

.Left-arrow {
  left: 1rem;
}
.Right-arrow {
  right: 1rem;
}

@media (max-width: 600px) {
  .Left-arrow,
  .Right-arrow {
    display: none !important;
  }
}
