.Login,
section {
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(400px, 90%);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1rem auto;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.Login form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login hr {
  width: 300px;
  background: #ddd;
  position: relative;
}
