.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(165, 165, 165);
  background-color: white;
  z-index: 2;
}
.NavContent {
  margin: 0.5em 0;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
}
.Search {
  position: relative;
  margin: 0 2em;
  display: flex;
  min-width: 300px;
  align-items: center;
}
.Search input {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  max-width: 50vw;
  outline: none;
  border: 1px solid #ddd;
  align-items: center;
  font-weight: 700;
  color: #5a5a5a;
}

.Search svg {
  position: relative;
  top: -2px;
  left: -40px;
}
.Options {
  display: flex;
}
.Option {
  margin: 0 0.8rem;
  font-size: 1.5em;
}
.Burger {
  display: none;
}
.SmallScreen {
  position: absolute;
  top: 3.8rem;
  right: 1rem;
  background: #eee;
  padding: 1rem;
  border-radius: 5px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 200ms;
}
.SmallScreen a {
  display: block;
  color: black;
  padding: 0.25rem;
}
.Open {
  opacity: 1 !important;
  transform: scaleY(1) !important;
  transition: all 200ms;
}
.SmallScreen .SmallOption + .SmallOption {
  border-top: 1px solid gray;
}
.SmallScreen a span {
  margin-left: 0.5rem;
}

@media (max-width: 900px) {
  .Search {
    display: none;
  }
}
@media (max-width: 850px) {
  .Burger {
    display: block;
    font-size: 2em;
  }
  .Option {
    display: none;
  }
}
