.Main {
  display: flex;
  justify-content: center;
  margin: 2rem 8rem;
}

@media (max-width: 1401px) {
  .Main {
    margin: 2rem 10vw;
  }
  .Left {
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  .Left {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .Main {
    margin: 0.5rem;
  }
}
