.Main {
  display: grid;
  grid-template: 1fr /1fr 1fr;
  margin: 2rem 8rem;
  grid-gap: 0 1rem;
}

@media (max-width: 1000px) {
  .Right {
    display: none;
  }
  .Left {
    width: 100%;
  }
}

@media (max-width: 1401px) {
  .Main {
    grid-template: 1fr /1fr;
    margin: 2rem 10vw;
  }
  .Left {
    width: 80vw;
  }
  .Right {
    display: none;
  }
}
