.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #aaa;
  border-right-color: #222;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
