.jobsAndHacks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2rem 8rem;
  grid-gap: 1rem;
}

@media (max-width: 1401px) {
  .jobsAndHacks {
    margin: 2rem 10vw;
  }
}

@media (max-width: 600px) {
  .jobsAndHacks {
    margin: 0.5rem;
  }
}
