.ToggleButton {
  margin: 5rem 10vw 1rem;
  text-align: right;
  position: relative;
}
.ToggleButton select {
  padding: 0.51rem 2rem 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  background: #222;
  color: #fff;
  appearance: none;
}
.ToggleButton .caret {
  color: #fff;
  position: absolute;
  right: 0.5rem;
  top: 25%;
  height: 20px;
  width: 20px;
  pointer-events: none;
}

@media (max-width: 1401px) {
  .ToggleButton {
    margin: 5rem 10vw 1rem;
  }
}

@media (max-width: 600px) {
  .ToggleButton {
    margin: 5rem 0.5rem 1rem;
  }
}
