.Button {
  display: block;
  width: 300px;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: #fff;
}

.Primary {
  background: #0095f6;
}

.Google {
  background: #dd4b39;
  background-image: linear-gradient(#dd4b39, #e40404);
}

.Facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
}

@media (max-width: 500px) {
  .Button {
    width: 100%;
  }
}
