.Story img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1.5px solid white;
}

.profile {
  position: relative;
  left: 10px;
  top: -10px;
}

.desc {
  margin: 20px auto;
  text-align: justify;
}

.post {
  padding: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.type {
  margin: 0 10px;
  font-size: 20px;
  font-size: 25px;
  padding-left: 0.3rem;
}

.type-bookmark {
  margin: 0 10px;
  font-size: 25px;
  padding-left: 39rem;
}

.heart:hover {
  color: rgb(255, 40, 40);
}

.comment:hover {
  color: rgb(104, 104, 223);
}

.send:hover {
  color: rgb(149, 255, 220);
}
.bookmark:hover {
  color: rgba(255, 217, 0, 0.815);
}

.reaction .left {
  display: flex;
}
.reaction .row {
  display: flex;
  justify-content: space-between;
}
